@tailwind base;
@tailwind components;
@tailwind utilities;

.profile_pict {
    width: 48px;
  }

  .content_pict {
    width: 98px;
    height: 98px;
  }
  
  .content_pict_post {
    width: 240px;
    height: 240px;
  }
  
