@tailwind base;
@tailwind components;
@tailwind utilities;

.profile_pict {
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.profile_pict img {
  width: 100%;
  height: 100%;
  overflow:hidden;
}

.content_pict {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.content_pict img {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.content_pict_post {
  width: 240px;
  height: 240px;
  overflow: hidden;
}

.content_pict_post img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.myProfile_pict {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.myProfile_pict img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.select-tag {
  justify-content: space-between;
}

.text-limit {
  position: relative;
  font-size: 14px;
  color: black;
  width: 100%; /* Could be anything you like. */
}

.text-limit-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2.4em; /* (Number of lines you want visible) * (line-height) */
  line-height: 1.2em;
  text-align:justify;
}

.text.ellipsis::after {
  content: "...";
  position: absolute;
  right: -12px; 
  bottom: 4px;
}

.nav-link-post, 
.nav-link-categories, 
.nav-link-post-dropdown, 
.my-nav-link-dropdown, 
.my-nav-link-post,
.delete-button {
  cursor: pointer;
}

.skeleton{
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text{
  width: 100%;
  min-height: .75rem;
  max-height: fit-content;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-text:last-child{
  margin-bottom: 0;
  width: 80%;
}